<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Analytics_NewEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql6010.site4now.net;initial catalog=DB_A6183C_testbaza;persist security info=True;user id=DB_A6183C_testbaza_admin;password=LfhNTeT5sA4ZpdBW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!--204-->
    <!--<add name="Analytics_NewEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.0.204;initial catalog=Analytics_New;persist security info=True;user id=pab;password=Qz69fdk1Qz69fdk2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="Analytics_NewEntities"
		connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=62.171.168.156;initial catalog=Analytics_New;persist security info=True;user id=pabuser;password=u6JVj6lAU9nLJh1FaDpr;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		providerName="System.Data.EntityClient"/>
	  <!--Localhost 23 Server-->
    <!--<add name="Analytics_NewEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-R2N7CM253EI;initial catalog=Analytics;persist security info=True;user id=pab;password=Qz69fdk1Qz69fdk2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="FilePath" value="C:\Users\PAB\Desktop\CourtFiles" />-->
    <add key="FilePath" value="D:\Projects\CourtInfo\Results\Documents" />
  </appSettings>
</configuration>